<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.cse225practicals">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".CLV"></activity>
        <activity android:name=".P12Header" />
        <activity android:name=".P12Footer" />
        <activity android:name=".DemoTimePicker" />
        <activity android:name=".DateTimePickerThroughxml" />
        <activity android:name=".P10DemoAlarm" />
        <activity android:name=".NotificationDemo" />
        <activity android:name=".NotificationLandingPage" />
        <activity android:name=".P11CustomToastLayout" />
        <activity android:name=".p5_ProgressBar" />
        <activity android:name=".P11CustomToast" />
        <activity android:name=".p4_star_RatingBar" />
        <activity android:name=".P3Toolbar" />
        <activity android:name=".MainActivity" />
        <activity android:name=".p2HorizontalScrollView" />
        <activity android:name=".HomePage">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver android:name=".AlarmBroadCastReceiver" />
    </application>

</manifest>